/* ==== Estilo Geral ==== */
:root {
    --main-color: #8C2C2E;
    --complementar-color: #EAEAE5;
    --white-text: #ffff;
    --black-text: #674930;
}
* {
    color: var(--white-text);
}
.btn-reserva {
    display: inline-flex; /* ou flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--complementar-color);
    color: var(--main-color);
    text-decoration: underline;

    padding: 10px 45px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 1.1;

    transition: 0.2s;
}

.big {
    transform: scale(1.8);
}

/* ==== Header ==== */
/* Background Header */
header {
    position: relative;
    background-color: var(--complementar-color);
}
header>.header-main {

    height: 70vh;
    
    background-image: url("/static/imgs/maktubedificio_desktop.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;

}
@media (max-width: 768px) {
    header > .header-main {
        background-image: url('/static/imgs/maktubedificio_mobile.png');
    }
}
@media (min-width: 1500px) {
    header>.header-main {
        height: 90vh;
    }
    
}
/* Style/Display Header */

/* Main */
main {
    background-color: var(--complementar-color);
}
main > section {
    background-color: white;
    max-width: 1600px;
    margin: auto;

    padding: 40px;
}
/* Presentation */

/* Exibition images */
section.exibition {
    padding: 0;
}
.room>img {
    display: block;
    width: 100%;
}

/* Estilo do Cabeçalho */
footer {
    background-color: var(--main-color);
    color: white;

    padding: 25px;
    text-align: center;

}