/* ==== Estilo Geral ==== */
:root {
    --main-color: #8C2C2E;
    --complementar-color: #EAEAE5;
    --complementar-color2: #F9F7F0;
    --white-text: #ffff;
    --black-text: #674930;
}
.btn-reserva {
    display: inline-flex; /* ou flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--complementar-color);
    color: var(--main-color);
    text-decoration: underline;

    padding: 10px 45px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 1.1;

    transition: 0.2s;
}

.big {
    transform: scale(1.8);
}
.left, .right {
    width: 50vw;
}
.icon {
    width: 26px;
    filter: invert(1);
}

/* ==== Header ==== */
/* Background Header */
header {
    position: relative;

    color: var(--white-text);
    background-color: var(--complementar-color);
}
header>.header-main {

    height: 70vh;
    
    background-image: url("/static/imgs/maktubedificio_desktop.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;

}
@media (max-width: 768px) {
    header > .header-main {
        background-image: url('/static/imgs/maktubedificio_mobile.png');
    }
}
@media (min-width: 1500px) {
    header>.header-main {
        height: 90vh;
    }
    
}
/* Style/Display Header */

/* ==== Main ==== */
main {
    background-color: var(--complementar-color);
    color: var(--white-text);
}
main > section {
    background-color: white;
    max-width: 1600px;
    margin: auto;

    padding: 40px;
}

/* ==== Presentation ==== */
/* Background Presentation */
main>section.presentation {
    padding: 140px 40px;

    background-color: var(--main-color);
    background-image: url("/static/imgs/backgroundimg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.presentation>div.content {
    display: flex;
    align-items: center;
    margin: auto;

    max-width: 1200px;
}
.presentation h2 {
    font-size: 4em;
    font-weight: 400;
}
.presentation p {
    text-align: justify;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
}
@media (max-width: 768px) {
    .presentation>div.content {
        display: block;
    }
    .presentation h2 {
        font-size: 3em;
        margin-bottom: 25px;
    }
}

/* ==== Exibition ==== */
main>section.exibition {
    padding: 0;
}
/* Room Images */
.room>img {
    display: block;
    width: 100%;
}

/* ==== Details ==== */
main>section.details {
    display: flex;

    background-color: var(--complementar-color2);
    color: var(--main-color);
}
.details p {
    color: #674930;
    font-size: clamp(0.95rem, 1.5vw, 1.6rem);
    line-height: 1.6;
}
.details h2 {
    font-weight: 400;
    font-size: clamp(1.4rem, 2.5vw, 2.2rem);

    margin-bottom: 10px;
}
.details>div.left, details>div.right {
    padding: 15px;
}
.details>div.left {
    border-right: 2px solid rgb(168, 168, 168);
}
.details ul {
    padding-left: 20px;
    height: max-content;
}
.details li {
    font-size: 1.5em;
    line-height: 100px;
    list-style-position: inside;
}


/* ==== End ==== */
main>section.end {
    display: flex;
}
/* ==== Footer ==== */
footer {
    background-color: var(--main-color);
    color: var(--white-text);

    padding: 30px 25px 30px 25px;
}
footer a {
    color: inherit;
}
footer>.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1700px;
    margin: auto;
    padding-bottom: 10px;
}
footer>.top-footer>p {
    text-align: center;
}
footer a.social {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;

    padding-bottom: 10px;
}

footer>.bottom-footer>p {
    font-size: 1.4em;
    text-align: center;
}
@media (max-width: 768px) {
    footer a.social {
        font-size: 13px;
    }
    footer>.top-footer>p {
        font-size: 0.9em;
    }
    footer>.bottom-footer>p {
        font-size: 1em;
    }

}