/* ==== Estilo Geral ==== */
:root {
    --main-color: #8C2C2E;
    --complementar-color: #EAEAE5;
    --white-text: #ffff;
    --black-text: #674930;
}
* {
    color: var(--white-text);
}
.btn-reserva {
    display: inline-flex; /* ou flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--complementar-color);
    color: var(--main-color);
    text-decoration: underline;

    padding: 10px 45px;
    border-radius: 15px;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 1.1;

    transition: 0.2s;
}

.big {
    transform: scale(1.8);
}
.left, .right {
    width: 50vw;
}

/* ==== Header ==== */
/* Background Header */
header {
    position: relative;
    background-color: var(--complementar-color);
}
header>.header-main {

    height: 70vh;
    
    background-image: url("/static/imgs/maktubedificio_desktop.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;

}
@media (max-width: 768px) {
    header > .header-main {
        background-image: url('/static/imgs/maktubedificio_mobile.png');
    }
}
@media (min-width: 1500px) {
    header>.header-main {
        height: 90vh;
    }
    
}
/* Style/Display Header */

/* ==== Main ==== */
main {
    background-color: var(--complementar-color);
}
main > section {
    background-color: white;
    max-width: 1600px;
    margin: auto;

    padding: 40px;
}

/* ==== Presentation ==== */
/* Background Presentation */
main>section.presentation {
    padding: 140px 40px;

    background-color: var(--main-color);
    background-image: url("/static/imgs/backgroundimg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.presentation>div.content {
    display: flex;
    align-items: center;
    margin: auto;

    max-width: 1200px;
}
.presentation h2 {
    font-size: 4em;
    font-weight: 400;
}
.presentation p {
    text-align: justify;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
}
@media (max-width: 768px) {
    .presentation>div.content {
        display: block;
    }
    .presentation h2 {
        font-size: 3em;
        margin-bottom: 25px;
    }
}

/* ==== Exibition ==== */
main>section.exibition {
    padding: 0;
}
/* Room Images */
.room>img {
    display: block;
    width: 100%;
}

/* ==== Details ==== */

main>section.details {
    display: flex;
}
/* ==== End ==== */
main>section.end {
    display: flex;
}
/* ==== Footer ==== */
footer {
    background-color: var(--main-color);
    color: white;

    padding: 25px;
    text-align: center;

}